
img/.DS_Store
img/projects/.DS_Store
img/projects/it-test/.DS_Store
img/projects/personal/.DS_Store
img/projects/goit/.DS_Store
img/projects/wedding/.DS_Store
img/projects/team/.DS_Store
img/projects/questify/.DS_Store
img/projects/pro-test/.DS_Store
